body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #434343;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

main {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.foto-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.bio {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}


.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    margin: 30px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #00a6ff;
}

footer {
    margin-top: 30px;
    color: #555;
}
